.thumbnail__item {
  cursor: pointer;
  width: 9.5rem;
  height: 14rem;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    color: #fff;
    position: absolute;
    inset: auto 10px 10px 10px;

    @include respond(phone) {
      inset: auto 3px 5px 3px;
    }
  }

  @include respond(phone) {
    width: 6.5rem;
    height: 10rem;
  }
}
.thumbnail__item.active {
  filter: brightness(1.25);
}
@media screen and (max-width: 678px) {
  .thumbnail__item .content h2 {
    font-size: 4rem;
  }
}