.pixie{
  font-family: var(--font-pixie);
}


.orb{
  font-family: var(--font-orb);
}

.doto{
  font-family: var(--font-doto);
}

.hackText{
  letter-spacing: 0.1rem;
  word-break: break-word;
  white-space: normal;
/* background: radial-gradient(circle, rgba(127, 201, 1, 0.287) 0%, rgba(13, 13, 13, 0.819) 100%); */
transition: all 0.2s ease-in-out;
}

.mainText{
  margin: auto;
  width:80rem;
}

/* .myGrid{
  z-index: -1;
  opacity: 90%;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.458) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.447) 1px, transparent 1px);
} */


@keyframes circle1 {
  0% {
    transform: translate(0, 0) rotate(-12deg);
  }
  25% {
    transform: translate(100px, 50px) rotate(-12deg);
  }
  50% {
    transform: translate(0, 100px) rotate(-12deg);
  }
  75% {
    transform: translate(-100px, 50px) rotate(-12deg);
  }
  100% {
    transform: translate(0, 0) rotate(-12deg);
  }
}

@keyframes cloud {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(80vw, -2vh);
  }
  40% {
    transform: translate(60vw, 5vh);
  }
  60% {
    transform: translate(90vw, 0);
  }
  80% {
    transform: translate(70vw, -2vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes cloud2 {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(-80vw, 2vh);
  }
  35% {
    transform: translate(-60vw, -2vh);
  }
  55% {
    transform: translate(-90vw, 0);
  }
  75% {
    transform: translate(-70vw, 2vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes cloud3 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(20vw, 2vh);
  }
  40% {
    transform: translate(-15vw, -2vh);
  }
  60% {
    transform: translate(25vw, -4vh);
  }
  80% {
    transform: translate(-10vw, 4vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes circle2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-50px, -100px);
  }
  50% {
    transform: translate(-100px, 0);
  }
  75% {
    transform: translate(-50px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}



.animate-circle1 {
  animation: circle1 6s infinite linear;
}

.animate-circle2 {
  animation: circle2 8s infinite linear;
}

.animate-cloud{
  width:100%;
  animation: cloud 200s infinite ease-in-out;
}


.animate-cloud2{
  width:100%;
  animation: cloud2 200s infinite ease-in-out;
}

.animate-cloud3{
  width:100%;
  animation: cloud3 100s infinite ease-in-out;
}

#player{
  transition: all 0.2ms ease-in-out;
}

body {
  background: 
    linear-gradient(#0007, #0000),
    #123;
  margin: 0;
  height: 100vh;
}

/* @keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
} */




 #fireworks{
  display: none;
 }

 

 @keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

/* @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}
 */
.firework,
.firework::before,
.firework::after
{
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 0.2vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    /*
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
    */
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    
    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    
    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    
    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    
    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
    ;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;  
  --finalSize: 40vmin;
  left: 30%;
  top: 60%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}

.sidebar-container{
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}