.outer {
    width: 250px;
    height: 250px;
    background-position: left;
    background-repeat: no-repeat;
    clip-path: polygon(70% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
    position: relative;
    border: 2px solid #bff205;
}

.outer::after {
    content: "";
    display: block;
    position: absolute;
    top:0px;
    right: -28px;
    width: 100px;
    height: 70px;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 54px 55px,
        rgba(0, 0, 0, 0.3) 0px -12px 30px, rgba(0, 0, 0, 0.3) 0px 4px 6px,
        rgba(0, 0, 0, 0.3) 0px 12px 13px, rgba(0, 0, 0, 0.3) 0px -3px 5px;
}

