

.starryBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  
  .star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: twinkle 2s infinite 0s ease-in-out alternate;
  }
  
  @keyframes twinkle {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes shoot {
    0% {
      transform: translate(0)
    }
    25% {
        transform:translate(500px, 650px);
        opacity: 0.4;
    }
    50%{
        transform:translate(1000px, 1000px);
        opacity: 0;
    }
    75%{
        transform:translate(-670px, -860px);
        opacity: 0.74;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  .shooting_star{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(20, 232, 158);
    animation-name: shoot;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  .shooting_star::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 60px;
    height: 2px;
    background: linear-gradient(
      to left,
      rgba(5, 241, 159, 0.5),
      rgba(20, 232, 158, 0)
    );
    z-index: -1; 
  }